.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='#') CodeMania 100
			|  2016

link(rel='stylesheet', href='/css/style.css')
script(src='/scripts/bootstrap.min.js')
script(src='/scripts/demo.js')
block footer