extends layout

block content
	div.container
		h1 Home
	div.container
		div.row
			div.col-md-4
				h2 HuskiBear Workshop
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				p 
					button(id='btnInterest1') Click
			div.col-md-4
				h2 BrotherBear Workshop
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				p 
					button(id='btnInterest2') Click
			div.col-md-4
				h2 HunterBear Workshop
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				p 
					button(id='btnInterest3') Click	
	script(src='scripts/setupInterest.js')